# Node modules directory
node_modules

# Webpack output directories

build

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Operating system files
.DS_Store

# Environment variables
.env

# Ignore any other files or directories specific to your project